doctype html
html(lang="ru")
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900")
        link(rel="stylesheet" href="styles/css/reset.css")
        link(rel="stylesheet" href="libs/Ionicons/css/ionicons.min.css")
        link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="libs/slick-carousel/slick/slick.css")
        link(rel="stylesheet" href="libs/slick-carousel/slick/slick-juno.css")
        link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-grid.min.css")
        link(rel="stylesheet" href="styles/css/_blog/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Juno - Блог
    body
        

        script(src="libs/jquery/dist/jquery.min.js")
        script(src="libs/slick-carousel/slick/slick.min.js")
        script(src="scripts/_blog/common.js")